<!Doctype html>
<html lang="en" class="en">

<head>
	<meta charset="utf-8">
	<!doctype html>
	<title>Fake News Detector</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% load static%}
	<link rel="stylesheet" href="{% static '1.css'%}">
</head>

<body>
	<header>
		<div class="topnav">
			<a href="{% url 'index' %}"><b>Fake News Detector</b></a>
			<a class="active"  href=""><b>About</b></a>
		</div>
	</header>
</body>
<script src="http://gist-it.appspot.com/https://github.com/arunkumaraqm/Fake-News-Detection/blob/master/README.md" footer=minimal></script>
</html>