<!Doctype html>
<html lang="en" class="en">

<head>
	<meta charset="utf-8">
	<!doctype html>
	<title>Fake News Detector</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% load static%}
	<link rel="stylesheet" href="{% static '1.css'%}">
</head>

<body>
	<header>
		<div class="topnav">
			<a class="active" href=""><b>Fake News Detector</b></a>
			<a href="#about"><b>About</b></a>
		</div>
	</header>

	<div class="box ctr">
		<form method="post" id="post-form">
			{% csrf_token %}
			<input type="text" name="link" value="" required class="search-box" autofocus="" id="link" size="50" placeholder="Paste the URL of the Article Here">
			<div class="right"><input type="submit" class="button button1"><input type="reset" class="button button1" onclick="window.location='{% url 'index' %}'; return false;">
			</div>
		</form>
		<br>
		<br>
		<br>
		<br>
		
		{% if result %}
		<div class="text-box">
			<p>{{ result }}</p>
		</div>
		{% endif %}
	</div>

</body>
<script type = "text/javascript">
$(document).on('submit','#post-form',function(e){
  e.preventDefault();
  $.ajax({
	  type:'POST',
	  url:'/create',
	  data:{
		  link:$('#link').val(),
		  csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
	  },
	  success: function(){
	  }
  });
});
</script>
</html>~